<% content_for :main do %>
  <div class="row">
    <div class="col-md-12 gallery-intro">
      <p>The American Archive of Public Broadcasting (AAPB) has an active community of scholars, educators, librarians, and advisory committee members have helped create materials that build upon the educational value of audiovisual collections in the AAPB. Examples of their participating in the AAPB include organizing informational webinars, writing topical posts, or selecting primary and secondary resources for topics taught in the classroom. We invite audiences to search the Resources for Educators section for additional ideas and welcome you to contact us with further inquiries. </p>
    </div>
  </div>
  <div class="row gallery-index" id="documents">
    <% @educator_resources.each do |res| %>
      <div class="gallery col-xs-12 col-sm-6 col-md-4">
        <div class="gallery-thumbnail">
          <a href="<%= res['link'] %>">
            <img src="<%= res['thumbnail'] %>" alt="<%= res['title'] %>" aria-hidden="true">
          </a>
        </div>
        <h2 class="index-title">
          <a href="<%= res['link'] %>" target="_blank"><%= res['title'] %></a>
        </h2>
      </div>
    <% end %>
  </div>
<% end %>

<%= render partial: 'shared/gallery_title',
           locals: {
            title: 'Resources for Educators',
            main: yield(:main)
           } %>
